body {
    padding: 10px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
}
.home{

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    background-color: lightcoral;
    color: white;
    padding: 10px;
    border-radius: 20px;
}
.userDiv {
    width: 40%;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.25s;
}
/*.userDiv:hover{*/
/*    scale: 105%;*/
/*}*/
.surroundDiv {
    display: flex;
    justify-content: space-evenly;
}
.user-details-button {
    padding: 10px;
    font-weight: bold;
    border-radius: 20px;
    background-color: lightcoral;
    color: white;
    border: none;
}
.textDiv {
    display: flex;
    gap: 10px;
}
.userInfoDiv {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
}

.keyDiv {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.keyDiv>button{
    width: 150px;
}
.postsDiv{
    border-radius: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.postsDiv>button{
    width: 90vw;
}
.postLink {
    text-decoration: none;
    font-size: 16px;
    border: gray;
}
.postInfo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #f1f1f1;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.postInfoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.commentsDiv {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.commentDiv {
    margin-bottom: 10px;
    font-family: sans-serif;
    padding: 10px;
    border-radius: 10px;
    width: 24%;
    background-color: lightcoral;
    color: white;
    display: flex;
    flex-direction: column;
    transition: 0.25s;
}